body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e469bf;
}

header {
    background-color: #3350f1;
    color: rgb(29, 28, 29);
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 2em;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.photo {
    flex: 1 1 calc(33.333% - 20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    overflow: hidden;
}

.photo img {
    width: 100%;
    height: auto;
    display: block;
}

footer {
    background-color: #3350f1;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
